/*comment*/
:root {
  --Main-Pink: #ef99ae;
  --Secondary-Pink: #f5c6cf;
  --Third-Pink: #f3cdd4;
  --Fourth-Pink: #c79398;
  --White: #fffdfe;
  --White-two: #ffddee;
  --Black: #222425;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: var(--Secondary-Pink);
}

.logo img {
  width: 100px;
}

.links ul {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.links ul li {
  margin-right: 30px;
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: black;
}

.initial-content { /*header*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(243,205,212);
  background: linear-gradient(90deg, rgba(243,205,212,1) 38%, rgba(241,179,185,1) 94%);
}

.column-right img {
  width: 300px;
}

.proyects{/*scection*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
}

.column{
  width: 230px;
  height: 300px;
}
.column1{
  background-color: var(--White);
}
.column2{
  background-color: var(--White-two);
}
.column3{
  background-color: var(--Third-Pink);
}
.column4{
  background-color: var(--Main-Pink);
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}