/*comment*/
:root {
  --Main-Pink: #ef99ae;
  --Secondary-Pink: #f5c6cf;
  --Third-Pink: #f3cdd4;
  --Fourth-Pink: #c79398;
  --White: #fffdfe;
  --White-two: #ffddee;
  --Black: #222425;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: var(--Secondary-Pink);
  font-size: 1.8rem;
  font-weight: 400;
}

.logo img {
  width: 100px;
  margin-left: 45px;
}

.links ul {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.links ul li {
  margin-right: 30px;
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.initial-content {
  /*header*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(243, 205, 212);
  background: linear-gradient(90deg, rgba(243, 205, 212, 1) 38%, rgba(241, 179, 185, 1) 94%);
}

.column-left {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  margin-left: 278px;
  margin-top: 20px;
  width: 50%;
  padding: 12px;
}

.column-left img {
  height: 2px;
  width: 412px;
}

/* .column-left .line-sup{
  width: 412px;
}

.column-left .line-inf{
  width: 412px;
} */

.column-left h1 {
  /* font-weight: bold; */
  font-size: 4rem;
  margin: 10px 0;
}

.column-left p {
  font-size: 2rem;
  width: 400px;
  margin: 40px 0;
}

.column-left .principal-button {
  background-color: var(--Black);
  padding: 14px 52px;
  color: var(--White);
  cursor: pointer;
  border-radius: 3px;
}

.column-right {
  width: 50%;
}

.column-right img {
  width: 430px;
  margin-left: 51px;
}

.proyects {
  /*scection*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
}

.column {
  width: 25%;
  height: 400px;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column h3 {
  font-size: 2.2rem;
}

.column p {
  font-size: 1.8rem;
}

.column button {
  width: 30%;
  height: 30px;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 3px;
}

.column1 {
  padding: 0px;
  justify-content: space-between;
}

.column1-content {
  background-color: var(--White);
  justify-content: space-around;
  padding: 115px 60px;
}

.column1-content p {
  color: var(--Main-Pink);
  margin-top: 28px;
}

.rectangle-column1 {
  background-color: var(--Third-Pink);
  width: 90%;
  height: 55px;
  border-radius: 0px 5px 0px 0px;
}

.column2 {
  background-color: var(--White);
}

.column2 button{
  background-color: white;
  color: var(--Third-Pink);
  border: 2px solid var(--Third-Pink);
  border-radius: 3px;
}

.column3 {
  background-color: var(--Third-Pink);
}

.column3 button{
  background-color: var(--Third-Pink);
  color: var(--Main-Pink);
  border: 2px solid var(--Main-Pink);
  border-radius: 3px;
}

.column4 {
  background-color: var(--Main-Pink);
}
.column4 p{
  color: var(--White);
}

.column4 button{
  color: var(--White);
  background-color: var(--Main-Pink);
  border: 2px solid var(--White);
  border-radius: 3px;
}

.grid-container{
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 300px;
  gap: 10px;
  margin-top: 20px;
}
.grid{
  background-color: red;
}
.square{
  /* background-color: red; */
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}