.container-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.habilidades-prog,
.habilidades-foto{
  width: 44%;
}
.habilidades-prog{
  margin-right: 8px;
}
  .content_ilus figure img{
    width: 180px;
  }
.alch{
  height: 150px;
}